.track {
    display: flex;
}

.track-media {
    flex: 1 1 50%;
    align-self: center;
    text-align: right;
    padding: .75rem;
}

.track-body {
    flex: 1 1 50%;
    align-self: center;
    padding: .75rem;
    font-size: 1rem;
    text-align: left;
}

.track-cover {
    width: 100%;
    max-width: 96px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.track-name,
.track-artist, {
    font-weight: bold;
}

.track-name,
.track-artist,
.track-album {
    display: block;
}

.track-time {
    opacity: .5;
}

@media screen and (max-width: 480px) {

    .track {
        display: block;
    }

    .track-media,
    .track-body {
        flex: none;
        text-align: center;
    }
}
